body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn:focus {
  box-shadow: none;
}

nav.navbar {
  background: #181818;
  padding: 0;
}

.banner
{
  background-image: url(../public/images/car-banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: baseline;
}


.banner article
{
  text-align: center;
  color: #fff;
}

.banner h1 {
  font-size: 75px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  margin: 90px 0;
}

.navbar img {
  width: 100%;
  max-width: 106px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.offcanvas
{
  background-color: #181818;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #fff;
  background: transparent url(../public/images/close_icon.svg) center/1em auto no-repeat;
  opacity: 1;
}

.btn {
  background-color: #f30304;
  color: #fff;
  padding: 8px 24px 8px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 40px;
}

/**ABOUT PAGE**/
.hero {
  background-image: linear-gradient(to bottom, rgb(24 24 24 / 46%), rgb(243 3 4 / 12%)),url("../public/images/about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}
.hero .container {
  padding-top: 15%;
}

.heading {
  text-align: center;
}
.hero h1 {
  color: #fff;
  font-size: 60px;
}
.hero p {
  color: #fff;
  opacity: 0.8;
}
form {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
form input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}
form span {
  font-size: 14px;
  color: grey;
}
input::placeholder {
  font-size: 17px;
  color: black;
}
form .box {
  padding: 15px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}
form .box:nth-child(1) {
  border-left: none;
}
form h4 {
  font-size: 18px;
  font-weight: 500;
}

i.fa.fa-search {
  font-size: 20px;
}

.form-btn
{
   background: #f30304;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 17px 30px;
}

@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  form .box {
    border-left: none;
  }
  form input {
    width: 100%;
  }
}


footer {
  text-align: center;
  background: #181818;
  padding: 20px 0;
  color: #fff;
}
